.benevole {
    background-color: var(--background);
    flex: 1;
    padding-top: 20px;
}

.benevole-selection{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.benevole-tache,
.benevole-projet,
.benevole-profil{
    display: flex;
    justify-content: center;
    gap: 20px;
}
