.organisation-header {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 30px;
}

.organisation-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.organisation-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 100px;
  width: 400px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  margin: 5px;
  overflow: hidden;
}
.container-header {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background: var(--primary-pale);
  div{
      display: flex;
  }
}

.organisation-nom {
  font-size: 20px;
  margin: 5px 10px;
}

.delete-button {
  margin: 0 10px;
  font-size: 15px;
  height: 25px;
  width: 25px;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
}
.update-button {
  margin-left: auto;
  height: 25px;
  width: 25px;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
}

.organisation-link {
  text-decoration: none;
  color: var(--text-principale);
}
