
.formulaire{
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;   
  margin: 0 auto;     
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 20px;      
}

label {
    display: inline-block;
    margin-bottom: 20px; 
  }
.liste{
  margin:20px;
  position: relative;
  width: 250px;
}
.listeTaches{
  margin:20px;
  width: 250px;
}
.nom{
  margin:20px;
  display: flex;
  flex-direction: column;
}

.date{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.description{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.btnAjout{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.btnValidation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.carte-projet {
  margin: 20px;
  position: relative;
  width: 250px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* pour compatibilité Safari */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-contenu {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  position: relative;
  z-index: 1001;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}