.projetCard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border);
    width: 350px;
    padding: 10px;
    border-radius: var(--radius);
    background-color: var(--card);
}

h2.projetCard{
    text-align: center;
}

.projetCard{
    margin: 10px;
}
